.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
install_on_n4.bat
app/build/
.gradle/1.10/taskArtifacts/cache.properties
.gradle/1.10/taskArtifacts/cache.properties.lock
.gradle/1.10/taskArtifacts/fileHashes.bin
.gradle/1.10/taskArtifacts/fileSnapshots.bin
.gradle/1.10/taskArtifacts/outputFileStates.bin
.gradle/1.10/taskArtifacts/taskArtifacts.bin
.gradle/1.12/taskArtifacts/cache.properties
.gradle/1.12/taskArtifacts/cache.properties.lock
.gradle/1.12/taskArtifacts/fileHashes.bin
.gradle/1.12/taskArtifacts/fileSnapshots.bin
.gradle/1.12/taskArtifacts/outputFileStates.bin
.gradle/1.12/taskArtifacts/taskArtifacts.bin
.gradle/2.1/taskArtifacts/cache.properties
.gradle/2.1/taskArtifacts/cache.properties.lock
.gradle/2.1/taskArtifacts/fileHashes.bin
.gradle/2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.1/taskArtifacts/outputFileStates.bin
.gradle/2.1/taskArtifacts/taskArtifacts.bin
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/libraries/achartengine_1_2_0.xml
.idea/libraries/appcompat_v7_21_0_3.xml
.idea/libraries/crashlytics_1_1_13.xml
.idea/libraries/espresso_contrib_2_0.xml
.idea/libraries/espresso_core_2_0.xml
.idea/libraries/espresso_idling_resource_2_0.xml
.idea/libraries/hamcrest_core_1_1.xml
.idea/libraries/hamcrest_integration_1_1.xml
.idea/libraries/hamcrest_library_1_1.xml
.idea/libraries/javawriter_2_1_1.xml
.idea/libraries/javax_annotation_api_1_2.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr305_2_0_1.xml
.idea/libraries/junit_dep_4_10.xml
.idea/libraries/kotlin_runtime_0_10_195.xml
.idea/libraries/kotlin_stdlib_0_10_195.xml
.idea/libraries/recyclerview_v7_21_0_0.xml
.idea/libraries/support_annotations_21_0_3.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/libraries/testing_support_lib_0_1.xml
app/crashlytics.properties
app/src/main/res/values/com_crashlytics_export_strings.xml
app/manifest-merger-release-report.txt
