<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.geobert.Radis"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/radis">
        <activity android:label="@string/app_name" android:name="AccountList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="AccountEditor"></activity>
<activity android:name="OperationList" android:label="test op list label"></activity>
<activity android:name="OperationEditor" android:label="@string/op_edition"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 