<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.geobert.radis"
          android:versionCode="46"
          android:versionName="1.0b4">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK">
    </uses-permission>

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="20"/>

    <application
            android:hardwareAccelerated="true"
            android:name="Radis"
            android:icon="@drawable/radis"
            android:label="@string/app_name"
            android:theme="@style/RadisTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.editor.AccountEditor"
                android:launchMode="singleTop"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
                android:name=".ui.editor.OperationEditor"
                android:label="@string/op_edition"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name=".ui.editor.StatisticEditor"
                android:launchMode="singleTop">
        </activity>
        <!--<activity-->
        <!--android:name="org.acra.CrashReportDialog"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:finishOnTaskLaunch="true"-->
        <!--android:launchMode="singleInstance"-->
        <!--android:theme="@android:style/Theme.Dialog"/>-->
        <activity
                android:name=".ui.editor.ScheduledOperationEditor"
                android:label="@string/sch_edition"
                android:launchMode="singleTop">
        </activity>

        <provider
                android:name=".db.DbContentProvider"
                android:authorities="fr.geobert.radis.db"
                android:exported="false">
        </provider>

        <receiver android:name=".service.InstallRadisServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="fr.geobert.radis.STARTED"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.RadisService">
        </service>

        <receiver android:name=".service.OnAlarmReceiver">
        </receiver>

        <activity
                android:name="RadisConfiguration"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name=".ui.StatisticActivity"
                android:icon="@drawable/stat_48"
                android:parentActivityName=".MainActivity"
                android:launchMode="singleTop"/>
    </application>

</manifest>